<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Example Facebook app using Flask and Python Facebook SDK">
    <meta name="author" content="github.com/mylsb">

    <title>{{ app_name }}</title>

</head>
<body>

<script type="text/javascript" src="/static/jquery.min.js"></script>

{% block content %} {% endblock %}

</body>
</html>
